@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: #C5E4E7;
}

main{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.logo{
    display: flex;
    justify-content: center;
}

.sections{
    display: flex;
    background: white;
    padding: 1.4em 0;
    padding-left: 1.9em;
    padding-right: 1.4em;
    border-radius: 1em;
    gap:2em;
}

.section-one{
    display: flex;
    flex-direction: column;
}

.tip-value1{
    display: flex;
    color: white;
}

.tip-value1 div{
    margin-right: .5em;
    background: hsl(183, 100%, 15%);
    padding: .3em 1.8em;
    border-radius: .2em;
}

.tip-value2{
    display: flex;
    color: white;
}

.tip-value2 div{
    margin-right: .5em;
    background: hsl(183, 100%, 15%);
    border-radius: .2em;
}

.tips-values{
    display: flex;
    flex-direction: column;
    gap:.7em;
}

.tip-value2 div:nth-of-type(3){
    padding: .3em .9em;
    color:hsl(186, 14%, 43%);
    background: hsl(189, 41%, 97%);
    font-weight: 700;
    border: 1.4px solid hsl(189, 41%, 97%);
}

input{
    text-align: right;
}   

.bill-input{
    background: hsl(189, 41%, 97%) url('images/icon-dollar.svg') no-repeat 10px 8px;
    background-repeat: no-repeat;
    background-size: 2.6%;
    padding:.1em .5em;
    font-size: 16px;
    color:#B7CECD;
    border: none;
    border-radius: .2em;
    outline: none;
    border: 1.4px solid hsl(189, 41%, 97%);
}

.bill-input::placeholder,.tpeople::placeholder{
    color: #B7CECD;
    font-weight: 700;
}

.labels{
    font-size: .68rem;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    margin-bottom: .4em;
}

.tpeople{
    background: hsl(189, 41%, 97%) url(images//icon-person.svg) no-repeat 10px 9.5px;
    background-repeat: no-repeat;
    background-size: 2.6%;
    padding: .1em .5em;
    font-size: 16px;
    color: #B7CECD;
    border: 1.4px solid hsl(189, 41%, 97%);
    border-radius: .2em;
    outline: none;
}

.section-two{
    background: hsl(183, 100%, 15%);
    padding: 0 1.5em;
    padding-top: 1.7em;
    border-radius: .5em;
    padding-bottom: 1.5em;
}

.section-two_sub1,.section-two_sub2{
    display: flex;
    justify-content: space-between;
    gap: 5em;
    align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.reset-btn{
    margin-top: 5.9em;
    background: #0D686D;
    font-weight: 700;
    text-transform: uppercase;
    color: #045D62;
    border: none;
    border-radius: .2em;
    padding: .5em 4em;
    width: 100%;
}

.reset-btn:hover{
    background:#9FE8DF;
    cursor: pointer;
}

.section-two_sub1 p:nth-of-type(1),.section-two_sub2 p:nth-of-type(1){
    font-size: .6rem;
    color: white;
    font-weight: 700;
}

.section-two_sub1 span,.section-two_sub2 span{
    display: block;
    font-size: .52rem;
    color: hsl(184, 14%, 56%);
    font-weight: 700;
}
.amounts{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.tip-amount,.total-amount{
    color:hsl(172, 67%, 45%);
    font-size: 24px;
    font-weight: 700;
}

.logo img{
    width: 9%;
}

.bill-input:hover{
    border: 1.4px solid hsl(172, 67%, 45%);
    font-weight: 700;
}

.tip-value1 div:hover,.tip-value2 div:hover{
    background-color: #9FE8DF;
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
}

.tip-value2 div:nth-of-type(3):hover{
    border: 1.4px solid hsl(172, 67%, 45%);
    background: hsl(189, 41%, 97%);
}

.pep-label_error-msg{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
}

.error-msg{
    font-size: .68rem;
    font-weight: 700;
    color: #DC7E64;
    display: none;
}

.tip-value2 input{
    text-align: right;
    width: 86px;
    font-weight: 700;
    font-size: 1rem;
    border:1.4px solid #F3F9FA;
    background: #F3F9FA;
    border-radius: .2em;
    cursor: pointer;
    outline: none;
    padding-right: .3em;
}

.tip-value2 input::placeholder{
    color: #607D7A;
    font-size: .9rem;
    text-align: center;
    padding-left: .3em;
}

.tip-value2 input:hover{
    border: 1.4px solid hsl(172, 67%, 45%);
}

.custom-input:focus::placeholder {
    color: transparent; /* Hide placeholder on focus (click) */
    border:none;
}

.bill-input:focus::placeholder{
    color: transparent;
}

.tpeople:focus::placeholder{
    color: transparent;
}

.attribution { font-size: 11px; text-align: center; margin-top: .5em; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 650px) {
    .sections{
        display: unset;
    }

    .tips-values{
        display: none;
    }

    .tips-values_mobile{
        display: flex !important;
        flex-direction: column;
        gap: .9em;
        color: white;
    }

    .tip-value1_mobile{
        display: flex;
        gap: .9em;
        justify-content: space-between;
    }

    .tip-value1_mobile div{
        background: hsl(183, 100%, 15%);
        padding: .3em 3.8em;
        border-radius: .2em;
    }

    .tip-value2_mobile{
        display: flex;
        gap: .9em;
        justify-content: space-between;
    }

    .tip-value2_mobile div{
        background: hsl(183, 100%, 15%);
        padding: .3em 3.8em;
        border-radius: .2em;
    }

    .tip-value3_mobile{
        display: flex;
        justify-content: space-between;
    }

    .tip-value3_mobile input{
        width: 49%;
        text-align: center;
        font-weight: 700;
        border: 1.4px solid #F3F9FA;
        background: #F3F9FA;
        border-radius: .2em;
        cursor: pointer;
        outline: none;
        
    }

    .tip-value3_mobile div:nth-last-of-type(1){
        padding: .3em 3.5em;
        background: hsl(183, 100%, 15%);
    }

    .logo img{
        width: 20%;
        margin-top: 1em;
    }

    .pep-label_error-msg{
        margin-top: 1.5em;
    }

    .section-two{
        margin-top: 1.5em;
    }

    .section-two_sub1 p:nth-of-type(1), .section-two_sub2 p:nth-of-type(1){
        font-size: .7rem;
    }

    .section-two_sub1 span, .section-two_sub2 span{
        font-size: .6rem;
    }

    .reset-btn {
        margin-top: 2em;
    }

    .tip-value1_mobile div:hover,.tip-value2_mobile div:hover,.tip-value3_mobile div:hover{
        background-color: #9FE8DF;
        cursor: pointer;
        color: hsl(183, 100%, 15%);
        font-weight: 700;
    }

    .tip-value3_mobile input:hover{
        border: 1.4px solid hsl(172, 67%, 45%);
    }

    .tip-value3_mobile input::placeholder{
        color: #607D7A;
        font-size: .9rem;
    }

    .custom-input_mobile:focus::placeholder {
        color: transparent; /* Hide placeholder on focus (click) */
        border:none;
    }

}

